{% extends "base.html" %}
{% load static %}


{% block content %}
    <section class="header">
        <header>
            <div class="logotext">
                <div class="logo">
                    <img src="" alt="">
                </div>
                <div class="text">
                    <h1>Foodies</h1>
                    <p>RESTAURANT</p>
                </div>
            </div>
            <div class="navlinks">
                <nav>
                    <a href="#">Accueil</a>
                    <a href="#">Menu</a>
                    <a href="#">A propos</a>
                    <a href="#">Réservation</a>
                    <a href="#">Contact</a>
                </nav>
            </div>
            <div class="more">

            </div>
            <div class="btncmd">
                <button>Commander</button>
            </div>
        </header>
        <div class="presentation">
            <h1>Le meilleur goût <span>à chaque bouchée.</span></h1>
            <p>Découvrez nos plats souvoureux préparés avex des ingrédients frais et de qualité.</p>
            <div class="btn">
                <button>Commander maintenant</button>
                <button>Voir le menu</button>
            </div>
        </div>
        <div class="banniere">
            <div class="grid">
                <div class="aspect">
                    <span>moi</span>
                    <div class="desc">
                        <h2>Livraison rapide</h2>
                        <p>30-45 min</p>
                    </div>
                </div>
                <div class="aspect">
                    <span>moi</span>
                    <div class="desc">
                        <h2>Ingrédients frais</h2>
                        <p>Qualité garantie</p>
                    </div>
                </div>
                <div class="aspect">
                    <span>moi</span>
                    <div class="desc">
                        <h2>Paiement sécurisée</h2>
                        <p>100% sécurisé</p>
                    </div>
                </div>
                <div class="aspect">
                    <span>moi</span>
                    <div class="desc">
                        <h2>Service 24/7</h2>
                        <p>Toujours là</p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="cathegories">
        <h1>Nos cathégories populaires</h1>
        <div class="cath">
            <div class="exple">
                <img src="{% static "images/p2.jpeg" %} " alt="moi">
                <h2>pizza</h2>
                <p>12 plats</p>
            </div>
            <div class="exple">
                <img src="{% static "images/p3.jpeg" %}" alt="moi">
                <h2>Burger</h2>
                <p>10 plats</p>
            </div>
            <div class="exple">
                <img src="{% static "images/p4.jpeg" %}" alt="moi">
                <h2>Plats</h2>
                <p>14 plats</p>
            </div>
            <div class="exple">
                <img src="{% static "images/p5.jpeg" %}" alt="moi">
                <h2>Boissons</h2>
                <p>8 plats</p>
            </div>
            <div class="exple">
                <img src="{% static "images/p6.jpeg" %}" alt="moi">
                <h2>Desserts</h2>
                <p>9 plats</p>
            </div>
        </div>
    </section>
    <section class="plats">
        <h1>Nos plats populaires</h1>
        <div class="offre">
            <div class="contenu">
                <img src="{% static "images/p1.jpeg" %}" alt="moi">
                <div class="decalage">
                    <h2>Pizza Margherita</h2>
                        <div class="etoile">
                            <p><span>4.8</span></p>
                            <p>test</p>
                        </div>
                        <div class="price">
                            <h2>7000 FCFA</h2>
                            <button>+</button>
                        </div>
                </div>
            </div>
            <div class="contenu">
                <img src="{% static "images/p1.jpeg" %}" alt="moi">
                <div class="decalage">
                    <h2>Burger Classic</h2>
                    <div class="etoile">
                        <p><span>4.7</span></p>
                        <p>test</p>
                    </div>
                    <div class="price">
                        <h2>6000 FCFA</h2>
                        <button>+</button>
                    </div>
                </div>
            </div>
            <div class="contenu">
                <img src="{% static "images/p1.jpeg" %}" alt="moi">
                <div class="decalage">
                    <h2>Poulet Rôti</h2>
                    <div class="etoile">
                        <p><span>4.9</span></p>
                        <p>test</p>
                    </div>
                    <div class="price">
                        <h2>7500 FCFA</h2>
                        <button>+</button>
                    </div>
                </div>
            </div>
            <div class="contenu">
                <img src="{% static "images/p1.jpeg" %}" alt="moi">
                <div class="decalage">
                    <h2>Pâttes Carbonara</h2>
                    <div class="etoile">
                        <p><span>4.5</span></p>
                        <p>test</p>
                    </div>
                    <div class="price">
                        <h2>6000 FCFA</h2>
                        <button>+</button>
                    </div>
                </div>
            </div>
            <div class="contenu">
                <img src="{% static "images/p1.jpeg" %}" alt="moi">
                <div class="decalage">
                    <h2>Jus Naturel</h2>
                    <div class="etoile">
                        <p><span>4.5</span></p>
                        <p>test</p>
                    </div>
                    <div class="price">
                        <h2>2500 FCFA</h2>
                        <button>+</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="reservation">
        <div class="reserve">
            <h1>Réservez votre table maintenant</h1>
            <p>Vivez une experience culineaire inoubliable avec vos proches.</p>
            <button>Réserver une table</button>
        </div>
    </section>
    <section class="temoignage">
        <h1>Nos témoignages</h1>
        <div class="temoins">
            <div class="temoin">
                <div class="identite">
                    <img src="" alt="moi">
                    <div class="name">
                        <h3>Clara M.</h3>
                        <span>etoile</span>
                    </div>
                </div>
                <p>"Nourriture excellente et service impeccable. je recommande !"</p>
            </div>
            <div class="temoin">
                <div class="identite">
                    <img src="" alt="moi">
                    <div class="name">
                        <h3>jean k.</h3>
                        <span>etoile</span>
                    </div>
                </div>
                <p>"Les meilleurs burgers de la ville ! un vrai délice."</p>
            </div>
            <div class="temoin">
                <div class="identite">
                    <img src="" alt="moi">
                    <div class="name">
                        <h3>Sophie L.</h3>
                        <span>etoile</span>
                    </div>
                </div>
                <p>"Ambiance chaleureuse et plats extraordinaires."</p>
            </div>

        </div>
    </section>
{% endblock %}