:root{
    --orange:orange;
}
body{
    padding: 10px 20px;
}
.header{
    background-image: url('../images/p1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    height: 63vh;
    /* margin-bottom: 50px; */
    border-radius: 20px;
    
}
button{
    font-weight: bold;
}
button:hover{
    cursor: pointer;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    
}
header h1{
    margin: 0;
}
header p{
    margin: 0;
    font-size: 10px;
}


header nav{
    display: flex;
    gap: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
}
header nav a:hover{
    color: var(--orange);
    border-bottom: 2px solid var(--orange);
}
header button{
    color: white;
    background-color: var(--orange);
    padding: 17px;
    border: none;
    border-radius: 50px;
}
header button:hover{
    cursor: pointer;
}
.btn button:first-child{
    color: white;
    background-color: var(--orange);
    padding: 11px;
    border: none;
    border-radius: 50px;  
}
.btn button:last-child{
    background-color: inherit;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 11px;
}
.presentation {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 5%;
    width: 34%;
}
.presentation span{
    color: var(--orange);
    /* margin-bottom: 50px; */
}
.presentation h1{
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
}
.presentation .btn{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.grid{
    color: black;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* border: 1px solid red; */
    border-radius: 8px;
    background-color: #f1ebeb;
    margin: 0 5%;
    margin-top: 30px;
}
.grid .aspect{
    display: flex;
    gap: 30px;
    align-items: center;
}
.cathegories h1{
    text-align: center;
    font-size: 2.5rem;
}
.cathegories .cath{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    height: 10px;
    padding: 0 70px;
    
    
}
.cathegories .exple{
    border: 1px solid black;
    border-radius: 20px;
    background-color: #f1ebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
.cathegories .exple h2,.cathegories .exple p{
    margin: 0;
}
.plats{
    margin-top: 20%
}
.plats h1{
    text-align: center;
    font-size: 2.5rem;
}
.plats .offre{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
}
.plats .contenu{
    border: 1px solid black;
    border-radius: 20px;
}
.plats img{
    width: 100%;
    border-radius: 20px;
}
.contenu .decalage{
    padding: 0 15px;
}
.contenu h2{
    margin: 0;
}
.contenu .etoile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 40px; */
}
.contenu .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0; */
    margin-bottom: 10px;

}
.contenu button{
    background-color: var(--orange);
    color: white;
    font-weight: bold;
    border: 20px;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
}
.reservation{
    background-image: url('../images/p1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    margin-top: 30px;
    border-radius: 20px;
    padding: 60px  90px;

}
.reservation h1{
    font-size: 2.4rem;
    margin: 0;
}
.reservation button{
    color: white;
    font-weight: bold;
    background-color: var(--orange);
    padding: 10px;
    border: none;
    border-radius: 20px;
}
.temoignage{
    padding: 0 40px;
}
.temoignage h1{
    
    font-size: 2.5rem;
    text-align: center;
    
}
.temoignage .temoins{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.temoignage .temoin{
    border-radius: 10px;
    border: 1px solid black;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    text-align: center;
}